.statTable th, .statTable td {height: auto; padding: 5px; border:1px solid gray;}
    .statTable th {background: #369D38; text-align: center; font-weight:bold; color:#fff}
    .monthName {background: #5ADD69 !important;}